:root{
    --bege: #FFE9A0;
    --verde: #367E18;
    --laranja: #F57328;
    --vermelho: #CC3636;
    --preto: #000000;
    --cinza: #373737;
    --branco: #FFFFFF;
}

*, ::after, ::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*NDN Docs*/
}

.cabecalho{
    align-items: center;
    background-color: var(--bege);
    display: flex;
    height: fit-content;
    justify-content: center;

}

.cabecalho__menu {
    background: none;
    border: none;
    left: 1rem;
    position: absolute;
    cursor: pointer;
}

.cabecalho__menu--icone{
    width: 1.2rem;
    height: 1.2rem;
}
.cabecalho__logo{
    height: 4rem;
    width: 4rem;

}

.footer{
    background-color: var(--vermelho);
    height: 13,875rem;
}
