
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
 
    
    :root{
        --laranja: #F57328;
        --branco: #FFFFFF;
        --fonte:'Montserrat', sans-serif;
    }

    *{
        padding: 0;
        margin: 0;
    }
    
    .banner__imagem{
        height: 16rem;
        width: auto;
        background-image: url(../assets/banner/banner-principal.svg);
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .banner__btn{
        background-color: var(--laranja);
        height: 1.9375rem;
        width: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.9375rem;
        

    }

    .banner__link{
        color: var(--branco);
        text-decoration: none;
        font-family: var(--fonte);
        font-size: 1rem;
        font-weight: 700;
        
    }