@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --bege: #FFE9A0;
    --verde: #367E18;
    --laranja: #F57328;
    --vermelho: #CC3636;
    --preto: #000000;
    --cinza: #373737;
    --branco: #FFFFFF;
    --verde-claro:#C5DCBB;
    --fonte:'Montserrat', sans-serif;
}

*{
    font-family: var(--fonte);
}

.pedido__section{
    background-color: var(--bege);
}
.pedido-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pedido-layout label{
    text-align: center;
    padding: .5em;
}

.pedido-layout img{
    width: 100%;
    min-height: 300px;
}

.pedido-actions{
    display: flex;
    justify-content: center;
    margin: .5em;
    gap: .5em;

}

.pedido-actions button {
    padding: .7em;
    cursor: pointer;
}

.action{
    
}

.progress-bar{
    display: flex;
    gap: .7em;
    justify-content: center;   
}
.state{
    padding: .7em;
    background-color: red;
    width: 1px;
    height: 1px;
    transition: width .3s ease-in;
    transition: height .3s ease-in;
    border-radius: 50%;
    position: relative;
    z-index: 100;
}


.active{
    width: 5px;
    height: 5px;
    transition: width .3s ease-out;
    transition: height .3s ease-out;
    background-color: blue;
}

.resumo {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: .3em;
}

.resumo p {
    background-color: var(--verde-claro);
    padding: .9em;
    border-radius: .3em;
    text-align: center;
    width: 80%;
}
