@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --bege: #FFE9A0;
    --verde: #367E18;
    --laranja: #F57328;
    --vermelho: #CC3636;
    --preto: #000000;
    --cinza: #373737;
    --branco: #FFFFFF;
    --verde-claro:#C5DCBB;
    --fonte:'Montserrat', sans-serif;
}

*{
    font-family: var(--fonte);
}

.pedido__section{
    background-color: var(--branco);
    position: relative;
}
.pedido-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pedido-layout label{
    text-align: center;
    padding: .5em;
}

.pedido-layout img{
    width: 100%;
    min-height: 300px;
}

.pedido-actions{
    display: flex;
    justify-content: center;
    margin: .5em;
    gap: .5em;

}

.pedido-actions button {
    padding: .7em;
    cursor: pointer;
}


.progress-bar{
    display: flex;
    gap: .7em;
    justify-content: center;   
}

.resumo {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: .3em;
    visibility: hidden;
    margin-top: .9em;
    margin-bottom: .5em;
}

.resumo p{
    border-left: 2px solid var(--vermelho);
}

.resumo p, .resumo .paes, .resumo .carnes, .resumo .queijos{
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    padding: .9em;
    margin-top: .3em;
    text-align: center;
    width: 80%;
    visibility: hidden;
}

.preco{
    font-weight: bold;
}

.paes::before{
    content: url(../assets/pedido/bread.png);

}

.carnes::before{
    content: url(../assets/pedido/meat.png);

}

.queijos::before{
    content: url(../assets/pedido/cheese.png);

}

.total{
    padding: 1em;
    margin-top: .3em;
    display: flex;
    justify-content: flex-end; 
    width: 80%;
    color: var(--verde);
    font-weight: bold;
}

.resumo__action{
    width: 100%;
    display: flex;
    gap: .5em;
    justify-content: center;
}

.resumo__action button{
    padding: .9em;
    margin-bottom: .5em;
    cursor: pointer;
}

.modal {
    padding: .7em;
    width: 270px;
    height: 600px;
    background-color: var(--verde);
    position: absolute;
    top: 200px;
    left: 60px;
    z-index: 1000;
}

select{
    padding: 1em;
}

.resumo__title{
    position: relative;
}

.resumo__title::after{
    content: url(../assets/pedido/shopping-cart.png);
}

.carrinho-contador{
    position: absolute;
    right: 0px;
    background-color: var(--vermelho);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px ;
    height: 18px ;
    padding: .5em;
    border-radius: 50%;
}