@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --laranja: #F57328;
    --branco: #FFFFFF;
    --fonte:'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

.banner2{
    font-family: var(--fonte);
    display: flex;
    margin: 0.9375rem 0.9375rem;
    justify-content: space-between;
    gap: 1.125rem;
}

.titulo_banner2{
font-size: 0.875rem;
font-weight: 600;
margin-bottom: 0.625rem;
}

.descricao_banner2{
    font-size: 0.75rem;

}
