@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --bege: #FFE9A0;
    --verde: #367E18;
    --laranja: #F57328;
    --vermelho: #CC3636;
    --preto: #000000;
    --cinza: #373737;
    --branco: #FFFFFF;
    --verde-claro:#C5DCBB;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 600px;
}

.menu{
    position: absolute;
    height: 100%;
    width: 70%;
    left: -70%;
    transition: left .5s ease-in-out;
}


.ativa{
    left: 0;
    transition: left .7s ease-in-out;
}

.menu-itens{
    background-color: var(--verde-claro);
    width: 80%;
    height: 100%;
    
}
.botao {
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: var(--verde);
}
.imagem-sair{
    margin: 8px;
}
li{
    list-style-type: none;
    margin-bottom: 22px;
    
}
a{
    text-decoration: none;
    color: var(--preto);
    
    
}
.link{
    font-family: "Montserrat", sans;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px;

}
.link:hover{
    cursor: pointer;
}